*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  font-family: 'Montserrat', sans-serif;
}

:root{
  --colorPrimary:#0d263b;
  --colorSecondary:#696969;

  --backgroundPrimary:#0061df;
  --padding: 0 130px;
}
.subtitle{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}
.button{
  margin-left: 50px;
}