*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
}
:root{
    /* color */
    --colorPrimary:#0D263B;
    --colorSecondary:#696969;
    /* backgraund */
    --backgraundPrimary:#0061DF;
    /* padding */
    --padding: 0 130px;

}
pp{

}